.btn-custom {
  @apply flex items-center justify-center text-white px-6 py-2 rounded transition-colors duration-200;
  background-color: #1985a1; /* base color */
}

.btn-custom:hover {
  background-color: #89c2d9; /* hover color */
color: black;

}

.btn-delete2 {
  @apply  flex items-center justify-center text-white px-6 py-2 rounded transition-colors duration-200;
  background-color: #c71f37; /* base color */
  color: white;
}

.btn-delete2:hover {
  background-color: #f08080; /* hover color */
    color: black;

}

.btn-add {
  @apply flex items-center justify-center text-white px-4 py-1 rounded transition-colors duration-200;
  background-color: #aad576; /* base color */
  color: white;
}

.btn-add:hover {
  background-color: #c1fba4; /* hover color */
    color: black;

}

h3{
  @apply dark:text-white;
}

label{
  @apply dark:text-white;
}

input{
  @apply dark:bg-gray-800 dark:border-gray-600;
}

textarea{
  @apply dark:bg-gray-800 dark:border-gray-600;
}

select{
  @apply dark:bg-gray-800 dark:border-gray-600;
}

.btn-cancel {
  @apply  mr-3 px-4 py-2 bg-gray-200 text-gray-800 rounded hover:bg-gray-300 ;
  background-color: #6c757d; /* base color */
  color: white;
}
